name: Publish docs

on:
  workflow_dispatch

jobs:
  build-and-publish-docs:
    name: Build and publish docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: 3.12
          cache-dependency-glob: "pyproject.toml"

      - run: >
               uv run mkdocs build

      - name: Publish docs
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: docs
          folder: site
