name: Static analysis

on: [pull_request, workflow_dispatch]

jobs:
  pre-commit-checks:
    name: Pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: 3.12
          cache-dependency-glob: "pyproject.toml"

      - name: Run pre-commit
        run: |
          uv run pre-commit run --show-diff-on-failure --color=always --all-files
